.page {

		// .page__heading

		&__heading {
         min-height: 400px;
         background-size: cover;
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;
         margin-left: 50px;
         margin-right: 50px;
		}

		// .page__title

		&__title {
         font-weight: bold;
         font-size: 50px;
         line-height: 62 / 50 * 100%;
         color: white;
		}
      &__subtitle {
         font-family: Waiting for the Sunrise;
         font-weight: 300;
         font-size: 30px;
         line-height: 50 / 30 * 100%;
         color: white;
      }
}
.about {

		// .about__page

		&__page {
         background: transparent url(../img/about.jpg) center center no-repeat;
		}
}
.svg {

		// .svg_style

		&_style {
         position: relative;
         &::before {
            content: '';
            width: 100%;
            height: 130px;
            background: url(../img/top.svg) center center no-repeat;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 9;
         }
         &::after {
            content: '';
            width: 100%;
            height: 110px;
            background: url(../img/bottom.svg) center center no-repeat;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 9;
         }
		}
}

// ============================= .page__about ========================
.page {
      
		// .page__about

		&__about {
         display: flex;
         align-items: center;
         margin-top: 70px;
         margin-bottom: 60px;
		}
}
.wrapper {
}
.about {

		// .about__data

		&__data {
         &:first-child {
         padding: 0px 45px 0px 25px;
         }
         &:last-child {
            padding: 0px 25px 0px 45px;
         }
         article {
            margin-bottom: 80px;
            &:last-child {
               margin-bottom: 0px;
            }
         }
		}

		// .about__title

		&__title {
         font-size: 30px;
         line-height: 37px;
         margin-bottom: 12px;
         font-weight: normal;
		}
      
      &__text {
         font-size: 15px;
         line-height: 160%;
         color: #9A9A9A;
      }      
}

//  =========================== .page__info ============================

.page {

		// .page__info

		&__info {
         background: #FEA3AC;
         margin-left: 50px;
         margin-right: 50px;
         margin-bottom: 60px;
		}
}
.svg {

		// .svg_style

		&_style {
		}
}

.info {

		// .info__list

		&__list {
         min-height: 600px;
         display:flex;
         align-items:center;
         justify-content: space-between;
		}

		// .info__title

		&__title {
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 25px;
      color: #FFFFFF;
		}
}
.item {

		// .item__info

		&__info {
         margin-right: 10px;
         margin-left: 10px;
         text-align: center;
         &:first-child {
            margin-left: 0px;
         }
         &:last-child {
            margin-right: 0px;
         }
		}
}
.icon {
   width: 135px;
   height: 135px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 auto;
}
.count {
   font-family: Waiting for the Sunrise;
   font-style: normal;
   font-weight: 300;
   font-size: 60px;
   line-height: 99px;

   color: #DFEEB6;
   display: block;
}


// ======================= .page__team ============

.page {

   // .page__team

   &__team {
   }
}
.team {

   // .team__title

   &__title {
      font-style: normal;
      font-weight: bold;
      font-size: 50px;
      line-height: 60px;
      color: #433840;
      text-align: center;
   }

   // .team__subtitle

   &__subtitle {
      font-family: Waiting for the Sunrise;
      font-style: normal;
      font-weight: 300;
      font-size: 30px;
      line-height: 40px;
      color: #F7A1A8;
      display: block;
      text-align: center;
      margin-bottom: 60px;
   }

   // .team__list

   &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }

   // .team__item

   &__item {
      width: calc(50% - 201.5px);
      background: #C9E3F4;
      border-radius: 5px;
      margin-bottom: 40px;
      margin-left: 190px;
      display: flex;
      align-items: center;
      &:nth-child(2),
      &:nth-child(3) {
         background: #DFEEB6;
      }
      &:nth-child(3),
      &:nth-child(4) {
         margin-left: 0;
         margin-right: 190px;
      }
      &:nth-child(3) .team__image,
      &:nth-child(4) .team__image {
         order: 2;
      }
      &:nth-child(3) .team__image img,
      &:nth-child(4) .team__image img{
         margin-left: 0;
         margin-right: -190px;
      }
      &:nth-child(3) .item__data,
      &:nth-child(4) .item__data {
         order: 1;
         margin-left: 0;
         margin-right: 17px;
         text-align: right;
      }
   }

   // .team__image

   &__image img{
      border-radius: 100%;
      margin-left: -190px;
      margin-top: 25px;
      margin-bottom: 25px;
   }
}
.wrapper {
}
.item {

   // .item__data

   &__data {
      margin-left: 17px;
   }

   // .item__name

   &__name {
      font-family: Quicksand;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 37px;
      color: #FFFFFF;
      display: block;
   }
}
.post {
   font-family: Quicksand;
   font-style: normal;
   font-weight: 300;
   font-size: 20px;
   line-height: 25px;
   color: #433840;
   display: block;
   margin-bottom: 14px;
}
.description {
   font-family: Quicksand;
   font-style: normal;
   font-size: 15px;
   line-height: 25px;
   color: #433840;
   margin-bottom: 10px;
}
.social {
   letter-spacing: 10px;
}

// ====== Mobile Styles ====

@media ( max-width: 1100px ) {
   .team__list {
      
   }
   .team__item {
      width: 100%;
   }
   .team__image img {
      min-width: 240px;
   }
   
}


@media ( max-width: 800px ) {
   .page__heading {
      margin-left: 0;
      margin-right: 0;
   }

   img {
      max-width: 100%;
      height: auto;
   }
   .page__about {
      margin-top: 35px;
      margin-bottom: 30px;
      flex-wrap: wrap;
   }
   .page__about .about__data {
      width: 100%;
      padding: 0;
      text-align: center;
   }
   .about__data {
      margin-bottom: 40px;
      margin-top: 40px;
   }
   
}

@media ( max-width: 600px ) {
   .info__list {
      flex-wrap: wrap;
      padding-top: 70px;
      padding-bottom: 70px;
   }
   .item__info {
      width: 100%;
      text-align: center;
   }
}








